body, html {
  height: 100%;
  background-color: black;
}

.home {
  position: relative; 
  background-color: blue;
  background-image: url(../img/home.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.home::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(10, 10, 10, 0.7);
}

.mission {
  background-image: url(../img/mission.jpg);
  height: 50vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .mission-content {
    background: rgba(0,0,0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;

    .mission-content-description {
      display: flex;
      flex-direction: column;
      align-self: center;
      width: 70%;
      font-size: 120%;
    }
  }
}

.team {
  margin-top: 5%;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;

  .team-title {
    font-size: 300%;
  }

  .team-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    width: 80%;
    align-self: center;

    .image-item {
      margin: 1%;
      width: 15%;
      position: relative;

      .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: #008CBA;
      }

      .image-description {
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
      }
    
      .member-image {
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }
}

.contact {
  margin-top: 10%;
  padding-bottom: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;

  .icon-description {
    font-size: 150%;
  }
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.image-item:hover .overlay {
  opacity: 1;
}