body, html {
  background-color: black;
}

.home {
  position: relative; 
  background-image: url(../img/home.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  .home-content {
    color: white;
    position: relative;
    width: 650px;
    align-self: center;
  }
}

.home::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(10, 10, 10, 0.7);
}

.contents {
  background-color: #E6E6E6;
  display: flex;
  flex-direction: column;
  align-items: center;
  .contents-container {
    max-width: 70%;
    padding: 60px 0 40px 0;
    .logo-container {
      margin: auto;     
      width: 400px;

      .smartbooks-logo {
        display: block;
        width: 100%;
        height: auto;
      }
    }

    .contents-main {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .screen-container {
        width: 300px;      
        .screen-image {
          display: block;
          width: 100%;
          height: auto;
        }
      }

      .description-container {
        width: 400px;
        text-align: center;
        .description-content {
          .description-start {
            font-size: 25px;
          }

          .description-important {
            font-size: 55px;
          }

          .description {
            font-size: 17px;
          }
        }
      }
    }

    .audio-player {
      display: flex;
      flex-direction: column;
      align-items: center;
      audio:focus {
        outline: none;
      }
    }
  }
}

.mission {
  background-image: url(../img/mission.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .mission-content {
    background: rgba(0,0,0, 0.8);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 60px 0 40px 0;

    .mission-content-description {
      display: flex;
      flex-direction: column;
      align-self: center;
      width: 70%;
    }
  }
}

.team {
  padding-top: 70px;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;

  .team-images {
    display: flex;
    justify-content: center;
    position: relative;
    width: 80%;
    align-self: center;
    flex-wrap: wrap;


    .image-item:hover .overlay {
      background-color: black;
      opacity: 0.75;
    }

    .image-item {
      margin: 1%;
      width: 100%;
      max-width: 250px;
      position: relative;


      .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: #008CBA;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .member-info {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          height: 80%;
        }
      }

      .image-description {
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
      }
    
      .member-image {
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }
}

.information {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
  .item-container {
    margin-top: 20px;
    width: 80%;
    align-self: center;

    .item-title {
      font-weight: bold;
    }
  }
}

.support {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;

  .description {
    margin-bottom: 10px;
    width: 80%;
    align-self: center;
  }

  .logo-list {
    display: flex;
    justify-content: center;
    
    .logo {
      margin: 2%;
      text-align: center; 
    }
  }
}

.contact {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;

  .contact-description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    position: relative;
    width: 80%;
    align-self: center;
  }

  .email-icon {
    cursor: pointer;

    .icon-description {
      font-size: 150%;
    }
  }
}

.footer {
  padding-top: 70px;
  padding-bottom: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center; 

  .copyright {
    color: white;
    text-align: center;
  }
}

.title-large {
  font-size: 48px;
  font-weight: 700;
}


.title {
  position: relative;
  font-size: 2.5rem;
  margin-bottom: 20px;
  
  &::before {
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
  }

  &::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: linear-gradient(70deg, blue, pink);
    bottom: 0;
    left: calc(50% - 20px);
  }
}

@media (max-width: 768px) {
  .title-large {
    font-size: 28px;
  }

  .title {
    position: relative;
    font-size: 2.0rem;
    
    &::before {
      content: '';
      position: absolute;
      display: block;
      width: 120px;
      height: 1px;
      background: #ddd;
      bottom: 1px;
      left: calc(50% - 60px);
    }
  
    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 40px;
      height: 3px;
      background: linear-gradient(70deg, blue, pink);
      bottom: 0;
      left: calc(50% - 20px);
    }
  }

  .home {
    .home-content {
      width: 80%;
    }
  }

  // .support-content {
  //   width: 80%;
  // }
  .information {
    .item-container {
      .item-title {
        font-size: small;
      }
    }
  }

  .footer {
    .copyright {
      font-size: small;
    }
  }

  p {
    font-size: small;
  }
}